.global-data-item {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0.5rem;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    font-style: italic;
    margin: 1rem;
}

#overview-img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}